@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
  list-style-type: none;
}

body {
  background-color: #252525;
  width: 1529px;
  height: 1991px;
}

header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0px;
}

.logo_pizza {
  position: absolute;
  height: 79px;
  width: 76px;
  position: relative;
  margin-top: 31px;
  margin-left: 65px;

}

.home_icon {
  width: 19px;
  height: 20px;
  left: 90px;
  top: 12px;
  display: flex;
  position: relative;
  display: flex;
  justify-items: left;
  align-items: flex-end;
  padding-right: 10.42%;
  padding-left: 782px;

}


.icon_cart {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 15px;
  padding-top: 25px;
  padding-right: 22%;

}

.fill_4 {
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
  right: 25px;
  padding-top: 15px;
  padding-right: 60.71px;
  width: 11px;
  height: 11px;
  cursor: pointer;
}


.fill_1 {
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 7px;
  padding-left: 1262px;
  padding-top: 35px;
  cursor: pointer;
}

main {
  background: #252525;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  color: white;
}

#hero {
  max-width: 1529px;
  margin-top: 180px;
  margin-left: 120px;
  display: flex;
  justify-content: center;
  align-items: center;

}

.hero-info {
  display: flex;
  align-items: flex-start;
  justify-content: start;
  flex-direction: column;
}

.hero-info h1 {
  font-size: 66px;
  width: 603px;
  font-weight: 700;
}

.hero-info h1>span {
  font-size: 51px;
  font-weight: 700;
}

.hero-info p {
  font-size: 22px;
  font-weight: 500;
  position: absolute;
  top: 480px;
}

.hero-info a {
  width: 166px;
  height: 50px;
  background: linear-gradient(98.81deg, #FFA100 -0.82%, #FB103D 101.53%);
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 550px;
  color: white;
}


.hero-card {
  position: relative;
  left: 700px;
  bottom: 250px;
}

.pizza1 {
  width: 265px;
  height: 265px;
  position: relative;
  left: 150px;
}

.pizza2 {
  width: 392px;
  height: 392px;
  position: relative;
  top: 20px;

}

#recomendation {
  display: flex;
  flex-direction: column;
  padding: 0 5%;
  gap: 15px;
}

.reco-title {
  font-weight: 500;
  font-size: 22px;
  color: #ffffff;
  font-family: 'Montserrat';

}

.reco {
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: 30px;
  align-items: center;
  position: relative;
  left: 80px;

}

.reco-div-info {
  height: 100px;
  display: flex;
  gap: 25px;
  background-color: #252525;
  border-radius: 15px;
  padding: 15px;
  align-items: center;
  justify-content: space-around;
  box-shadow: 0px 0px 50px rgba(1, 2, 7, 0.5);

}

.reco-div-info img {
  height: 65px;
  cursor: pointer;
}

.reco-div-info button {
  font-family: 'Montserrat';
  height: 30px;
  width: 85px;
  color: #ffffff;
  background: linear-gradient(98.81deg, #FFA100 -0.82%, #FF005C 101.53%);
  border-radius: 17px;
  border: none;
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.5px;
  cursor: pointer;

}

.reco-info {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.reco-info h4 {
  font-family: 'Montserrat';
  font-size: 15px;
  font-weight: 500;
  color: #ffffff
}

.reco-info p {
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 14px;
  color: #ffffff;
  letter-spacing: 0.5px;
  opacity: 0.3;
}

.reco-info h3 {
  font-family: 'Montserrat';
  font-weight: 700;
  font-size: 19px;
  background: linear-gradient(90.81deg, #FFA100, #FF005C 61.53%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;

}


#categorias {
  display: flex;
  align-content: center;
  justify-content: center;
  flex-direction: row;
}

.category {
  position: absolute;
  width: 87px;
  height: 20px;
  left: 90px;
  top: 1070px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 800;
  font-size: 15px;
}

.contenedor-menu{
  display: flex;
  align-items: center;
  position: relative;
  left: 25px;
  bottom: 1000px;
  cursor: pointer;
}



.pizzas {
  display: flex;
  position: absolute;
  width: 147px;
  height: 171px;
  left: 56px;
  top: 1121px;
  background: #252525;
  box-shadow: 0px 0px 50px rgba(1, 2, 7, 0.5);
  border-radius: 15px;

}

.img_pizza {
  position: relative;
  width: 71 px;
  height: 71px;
  left: 34px;
  top: 25px;


}

.img_pizza_blur {
  position: absolute;
  width: 71px;
  height: 71px;
  left: 48px;
  top: 32px;
  background: url(image.png);
  opacity: 0.5;
  filter: blur(10px);

}

.h5_pizzas {
  position: absolute;
  width: 47px;
  height: 20px;
  left: 46px;
  top: 108px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 131.02%;
  color: #FFFFFF;

}

.rectangulo1 {
  position: absolute;
  width: 24px;
  height: 4px;
  left: 7px;
  top: 90px;

}



.hamburguesas {
  display: flex;
  position: absolute;
  width: 147px;
  height: 171px;
  left: 236px;
  top: 1121px;
  background: #252525;
  box-shadow: 0px 0px 50px rgba(1, 2, 7, 0.5);
  border-radius: 15px;


}

.img_hamb {
  position: relative;
  width: 85 px;
  height: 85px;
  left: 32px;
  top: 18px;

}

.img_hamb_blur {
  position: absolute;
  width: 71px;
  height: 71px;
  left: 48px;
  top: 32px;
  background: url(image.png);
  opacity: 0.5;
  filter: blur(10px);

}

.h5_hamb {
  position: absolute;
  width: 47px;
  height: 20px;
  left: 16px;
  top: 108px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 131.02%;
  color: #FFFFFF;

}

.rectangulo2 {
  position: absolute;
  width: 24px;
  height: 4px;
  left: 7px;
  top: 90px;

}

.papas {
  display: flex;
  position: absolute;
  width: 147px;
  height: 171px;
  left: 416px;
  top: 1121px;
  background: #252525;
  box-shadow: 0px 0px 50px rgba(1, 2, 7, 0.5);
  border-radius: 15px;

}

.img_papas {
  position: absolute;
  width: 83px;
  height: 83px;
  left: 28px;
  top: 18px;
}

.img_papas_blur {
  position: absolute;
  width: 71px;
  height: 71px;
  left: 48px;
  top: 32px;
  background: url(image.png);
  opacity: 0.5;
  filter: blur(10px);

}


.papitas {
  position: absolute;
  width: 47px;
  height: 20px;
  left: 36px;
  top: 108px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 131.02%;
  color: #FFFFFF;

}

.rectangulo3 {
  position: absolute;
  width: 24px;
  height: 4px;
  left: 17px;
  top: 90px;

}

.individuales {
  display: flex;
  position: absolute;
  width: 147px;
  height: 171px;
  left: 590px;
  top: 1121px;
  background: #252525;
  box-shadow: 0px 0px 50px rgba(1, 2, 7, 0.5);
  border-radius: 15px;

}

.img_indi {
  position: absolute;
  width: 85px;
  height: 86px;
  left: 39px;
  top: 17px;

}

.img_indi_blur {
  position: absolute;
  width: 71px;
  height: 71px;
  left: 48px;
  top: 32px;
  background: url(image.png);
  opacity: 0.5;
  filter: blur(10px);

}

.h5_indi {
  position: absolute;
  width: 47px;
  height: 20px;
  left: 36px;
  top: 108px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 131.02%;
  color: #FFFFFF;

}

.rectangulo4 {
  position: absolute;
  width: 24px;
  height: 4px;
  left: 17px;
  top: 90px;

}

.wraps {
  display: flex;
  position: absolute;
  width: 147px;
  height: 171px;
  left: 772px;
  top: 1121px;
  background: #252525;
  box-shadow: 0px 0px 50px rgba(1, 2, 7, 0.5);
  border-radius: 15px;

}

.img_wrap {
  position: absolute;
  width: 86px;
  height: 86px;
  left: 32px;
  top: 17px;
}

.img_wrap_blur {
  position: absolute;
  width: 71px;
  height: 71px;
  left: 43px;
  top: 34px;
  background: url(image.png);
  opacity: 0.5;
  filter: blur(10px);

}

.h5_wrap {
  position: absolute;
  width: 47px;
  height: 20px;
  left: 49px;
  top: 108px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 131.02%;
  color: #FFFFFF;

}

.rectangulo5 {
  position: absolute;
  width: 24px;
  height: 4px;
  left: 17px;
  top: 90px;
}

.mexican {
  display: flex;
  position: absolute;
  width: 147px;
  height: 171px;
  left: 946px;
  top: 1121px;
  background: #252525;
  box-shadow: 0px 0px 50px rgba(1, 2, 7, 0.5);
  border-radius: 15px;

}

.img_mex {
  position: absolute;
  width: 86px;
  height: 86px;
  left: 22px;
  top: 17px;
}

.img_mex_blur {
  position: absolute;
  width: 71px;
  height: 71px;
  left: 40px;
  top: 32px;
  background: url(image.png);
  opacity: 0.5;
  filter: blur(10px);

}

.h5_mex {
  position: absolute;
  width: 47px;
  height: 20px;
  left: 23px;
  top: 108px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 131.02%;
  color: #FFFFFF;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: visible;

}

.rectangulo6 {
  position: absolute;
  width: 24px;
  height: 4px;
  left: 17px;
  top: 90px;
}

.batidos {
  display: flex;
  position: absolute;
  width: 147px;
  height: 171px;
  left: 1126px;
  top: 1121px;
  background: #252525;
  box-shadow: 0px 0px 50px rgba(1, 2, 7, 0.5);
  border-radius: 15px;
}

.img_bati {
  position: absolute;
  width: 86px;
  height: 86px;
  left: 22px;
  top: 17px;
}

.img_bati_blur {
  position: absolute;
  width: 71px;
  height: 71px;
  left: 40px;
  top: 32px;
  background: url(image.png);
  opacity: 0.5;
  filter: blur(10px);
}




.h5_bati {
  position: absolute;
  width: 47px;
  height: 20px;
  left: 38px;
  top: 108px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 131.02%;
  color: #FFFFFF;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: visible;

}

.rectangulo7 {
  position: absolute;
  width: 24px;
  height: 4px;
  left: 17px;
  top: 90px;
}

#most-popular {
  display: flex;
  flex-direction: column;
  padding: 0 5%;
  gap: 10px;
  margin-top: 360px;
}

.popular-title {
  font-weight: 500;
  font-size: 22px;
  color: #ffffff;
  font-family: 'Montserrat';
}

.popular {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0 5px;
  gap: 25px;
  padding: 30px;
}

.popular-div-info {
  width: 282px;
  height: 213px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  background-color: #252525;
  border-radius: 15px;
  padding: 15px;
  align-items: center;
  box-shadow: 0px 0px 50px rgba(1, 2, 7, 0.5);
}

.popular-info {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  gap: 20px;

}

.popular-info h4 {
  font-family: 'Montserrat';
  font-size: 15px;
  font-weight: 500;
  color: #ffffff
}

.popular-info p {
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 14px;
  color: #ffffff;
  letter-spacing: 0.5px;
  opacity: 0.3;
}

.popular-info h3 {
  font-family: 'Montserrat';
  font-weight: 700;
  font-size: 19px;
  background: linear-gradient(90.81deg, #FFA100, #FF005C 61.53%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.popular-div-info img {
  width: 237px;
  height: 97px;
  cursor: pointer;
}

.popular-div-info button {
  font-family: 'Montserrat';
  height: 30px;
  width: 85px;
  color: #ffffff;
  background: linear-gradient(98.81deg, #FFA100 -0.82%, #FF005C 101.53%);
  border-radius: 17px;
  border: none;
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.5px;
  cursor: pointer;
}

footer {
  position: relative;
  /*top: 80%;*/
  background: #252525;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  gap: 40px;
  padding: 60px 0;
}

.footer-links {
  display: flex;
  justify-content: center;
  gap: 20px;
}

footer a {
  color: white;
  font-weight: 400;
  font-size: 17px;
}

footer span {
  font-weight: 800;
}