@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body{
  background-color: #252525;
}

header{
  display:flex; 
  align-items: center;
  justify-content: space-between;
  gap: 0px;
}

.logo_pizza{
  position: absolute;
  height: 79px;
  width: 76px;
  position: relative;
  margin-top: 31px;
  margin-left: 65px;
    
}

.home_icon{
  width: 19px;
  height: 20px;
  left: 2.5px;
  top: 12px;
  display: flex;
  position: relative;
  display: flex;
  justify-items: left;
  align-items:flex-end;
  padding-right: 10.42%;
  padding-left: 782px;

}


.icon_cart{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 15px;
  padding-top: 25px;
  padding-right: 15%;
  
  }

  .fill_4{
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;
    right: 25px;
    padding-top: 15px;
    padding-right: 40px;
    width: 11px;
    height: 11px;
    
  }


  .fill_1{
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;
    width: 16px;
    height: 7px;
    padding-left: 1280px;
    padding-top: 35px;    
    
  }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;                                           
    text-decoration: none;
    list-style-type: none;
}

main {
    background: #252525;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    color: white;
}

#hero{
    max-width: 1529px;
    margin-top: 180px;
    margin-left: 120px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.hero-info{
    display: flex;
    align-items: flex-start;
    justify-content: start;
    flex-direction: column;
}

.hero-info h1{
    font-size: 66px;
    width: 603px;
    font-weight: 700;
}

.hero-info h1 > span{
    font-size: 51px;
    font-weight: 700;
}

.hero-info p{
    font-size: 22px;
    font-weight: 500;
    position: absolute;
    top: 370px;
}

.hero-info a{
    width: 166px;
    height: 50px;
    background: linear-gradient(98.81deg, #FFA100 -0.82%, #FB103D 101.53%);
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 450px;
    color: white;
}


.hero-card{
    position: relative;
    left: 700px;
    bottom: 250px;
}

.pizza1{
    width: 265px;
    height: 265px;
    position: relative;
    left: 150px;
}

.pizza2{
    width: 392px;
    height: 392px;
    position: relative;
    top: 20px;
    
}

#recomendation {
  display: flex;
  flex-direction: column;
  padding: 0 5%;
  gap: 15px;
}

.reco-title {
  font-weight: 500;
  font-size: 22px;
  color: #ffffff;
  font-family: 'Montserrat';

}

.reco {
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: 30px;
  align-items: center;

}

.reco-div-info {
  height: 100px;
  display: flex;
  gap: 25px;
  background-color: #252525;
  border-radius: 15px;
  padding: 15px;
  align-items: center;
  justify-content: space-around;
  box-shadow: 0px 0px 50px rgba(1, 2, 7, 0.5);

}

.reco-div-info img {
  height: 65px;
  cursor: pointer;
}

.reco-div-info button {
  font-family: 'Montserrat';
  height: 30px;
  width: 85px;
  color: #ffffff;
  background: linear-gradient(98.81deg, #FFA100 -0.82%, #FF005C 101.53%);
  border-radius: 17px;
  border: none;
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.5px;
  cursor: pointer;

}

.reco-info {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.reco-info h4 {
  font-family: 'Montserrat';
  font-size: 15px;
  font-weight: 500;
  color: #ffffff
}

.reco-info p {
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 14px;
  color: #ffffff;
  letter-spacing: 0.5px;
  opacity: 0.3;
}

.reco-info h3 {
  font-family: 'Montserrat';
  font-weight: 700;
  font-size: 19px;
  background: linear-gradient(90.81deg, #FFA100, #FF005C 61.53%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;

}




