
body{
  background-color: #252525;
}

header{
  display:flex; 
  align-items: center;
  justify-content: space-between;
  gap: 0px;
}

.logo_pizza{
  position: absolute;
  height: 79px;
  width: 76px;
  position: relative;
  margin-top: 31px;
  margin-left: 65px;
    
}

.home_icon{
  width: 19px;
  height: 20px;
  left: 2.5px;
  top: 12px;
  display: flex;
  position: relative;
  display: flex;
  justify-items: left;
  align-items:flex-end;
  padding-right: 10.42%;
  padding-left: 782px;

}


.icon_cart{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 15px;
  padding-top: 25px;
  padding-right: 15%;
  
  }

  .fill_4{
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;
    right: 25px;
    padding-top: 15px;
    padding-right: 40px;
    width: 11px;
    height: 11px;
    
  }


  .fill_1{
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;
    width: 16px;
    height: 7px;
    padding-left: 1280px;
    padding-top: 35px;    
    
  }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;                                           
    text-decoration: none;
    list-style-type: none;
}

main {
    background: #252525;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    color: white;
}

#hero{
    max-width: 1529px;
    margin-top: 180px;
    margin-left: 120px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.hero-info{
    display: flex;
    align-items: flex-start;
    justify-content: start;
    flex-direction: column;
}

.hero-info h1{
    font-size: 66px;
    width: 603px;
    font-weight: 700;
}

.hero-info h1 > span{
    font-size: 51px;
    font-weight: 700;
}

.hero-info p{
    font-size: 22px;
    font-weight: 500;
    position: absolute;
    top: 370px;
}

.hero-info a{
    width: 166px;
    height: 50px;
    background: linear-gradient(98.81deg, #FFA100 -0.82%, #FB103D 101.53%);
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 450px;
    color: white;
}


.hero-card{
    position: relative;
    left: 700px;
    bottom: 250px;
}

.pizza1{
    width: 265px;
    height: 265px;
    position: relative;
    left: 150px;
}

.pizza2{
    width: 392px;
    height: 392px;
    position: relative;
    top: 20px;
    
}




